.btn-warning, .btn-primary, .btn-danger, .btn-default {
  border: 0;
  border-radius: 5px;
  padding: 1rem 2rem;
  min-width: 100px;
  color: white;
  font-weight: 700;
  cursor: pointer; }
  .btn-warning:hover, .btn-primary:hover, .btn-danger:hover, .btn-default:hover {
    opacity: 0.8; }

.btn-warning {
  background: orange; }

.btn-primary {
  background: blue; }

.btn-danger {
  background: red; }

.btn-default {
  background: #bbb; }

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: #eee;
  height: 100vh;
  position: relative; }

.card {
  box-sizing: border-box;
  width: 500px;
  height: 400px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 30px;
  padding: 2rem;
  position: absolute;
  left: calc(50% - 250px);
  top: calc(50% - 200px); }
  @media only screen and (max-width: 500px) {
    .card {
      background: red; } }
  @media only screen and (min-width: 1000px) {
    .card {
      background: orange; } }
  .card h1 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee; }
    .card h1 span {
      color: green; }
      @media only screen and (max-width: 500px) {
        .card h1 span {
          color: red; } }
  .card .text {
    color: #333; }
  .card ul {
    padding-left: 0;
    list-style: none; }
    .card ul li {
      display: inline-block;
      padding: 1rem 2rem; }
