* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: ".SFNSText-Regular", sans-serif;
  background: rgb(230, 230, 230);
}
.container {
  max-width: 1200px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1 {
  font-family: inherit;
  color: rgb(4, 115, 212);
  font-size: 2.3rem;
  margin-bottom: 1rem;
}
.sec1 h3 {
  font-size: 1.7rem;
}
.sec1 p {
  opacity: 0.7;
  margin: 0.6rem 0;
}
.name {
  display: flex;
  gap: 2rem;
}

.bx {
  background: #fff;
  padding: 12rem 3rem 1rem 3rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  transition: all 0.1s ease-in;
}
.bx:hover {
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.4);
}
.face {
  margin-top: 10rem;
}
.bordure {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: -4rem;
}
.form {
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  height: 400px;
  width: 400px;
  margin-right: 10rem;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.5);
}
.top {
  margin-top: 1rem;
}
input,
button,
a {
  border: 1px #888;
  border-radius: 5px;
  margin: 0.5rem 0;
  width: 380px;
  padding: 1rem 2rem;
  background: rgb(232, 240, 254);
}
.separator {
  background: #ddd;
  width: 19rem;
  height: 2px;
}
button {
  background: rgb(4, 115, 212);
  color: white;
}
button:hover {
  opacity: 0.9;
  cursor: pointer;
}
.green {
  background: rgb(9, 168, 9);
  width: 200px;
  margin-top: 2rem;
}
.green:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.5s;
}
a {
  border: 0;
  background: none;
}
.bxp {
  background: #fff;
  padding: 10rem 3rem 1rem 2rem;
  width: 158.25px;
  height: 226px;
  border-radius: 10px;
  margin-bottom: 1rem;
  transition: all 0.1s ease-in;
  text-align: center;
}
.bxp:hover {
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.4);
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footer p {
  margin-top: 2rem;
  margin-right: 7rem;
  text-align: center;
}
.footer p a {
  color: black;
  font-weight: bold;
  padding: 0;
  text-decoration: 0;
}
.footer p a:hover {
  border: 0;
  border-bottom: 1px solid black;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

span {
  border-bottom: 1px solid #888;
}
span:hover {
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.7);
  background: #ddd;
  padding: 0.4rem;
  border-radius: 25px;
  transition: all 0.3s ease-out;
  border-bottom: 2px solid black;
  background: rgb(4, 115, 212);
  color: white;
}
